<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/footer.css">
</head>
<footer>
    <h1>PEDIDOS</h1>
</footer>
<body>
    <h1>Registro de nuevos usuarios</h1>
    <form action="/validar" method="post">
        IDProducto: <input type="number" name="idp" id="idp"><br><br>

        NombreProducto: <input type="text" name="np" id="np"><br><br>

        Precio: <input type="int" name = "precio" id="precio"><br><br>

        Descripcion: <input type="text" name="descripcion" id="descripcion"><br><br>

        <input type="submit" value="registrar">
    </form>
</body>
</html>